body{
    margin: 0;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
    width: 100vw;
}

header{
    width: 100vw;
    height: 100px;
    margin:0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color:white;
    background-color: black;
    position:fixed;
    top: 0%;


}
header h1{
    padding:20px 30px;
}
header h3{
    padding: 32px 6px;
    text-decoration: none;
    font-size: 18pt;
}
.title{
    margin: 0;
    display: flex;

}
.title a{
    color: white;
    text-decoration: underline;
    
}
.menu{
    display: flex;
    background-color: black;
    display: flex;
    position: relative;
    top: auto;
    color: white;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-items: right;
    padding: 30px;
}
.menu a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 23px;
}
.menu a:hover{
    color: pink;
    opacity: 0.6;
    text-decoration:none;
}
menu li{
    list-style: none;
    color: white;
    display: flex;
    padding: 30px;

}
.github{
    width: 35px;
    height: 35px;
    position: relative;
    left: 53px;
    border: 1px solid whitesmoke;
    background-image: url('github.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;


}
.inst{
    width: 35px;
    height: 35px;
    border: 1px solid whitesmoke;
    background-image: url('instagram.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    left: 95px;
    top: -40px;

}
.xtwit{
    width: 32px;
    height: 32px;
    border: 1px solid whitesmoke;
    background-image: url('twitter.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    left: 138px;
    top: -76px;

}
.linkeden{
    width: 29px;
    height: 29px;
    border: 1px solid whitesmoke;
    background-image: url(linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    left: 176px;
    top: -110px;;
    
}
footer{
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: darkgrey;
    display: flex;
    position: absolute;
    top: 1555px;
    z-index: -1;
    justify-content: center;
    align-items: center;

}



